@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@property --num-transactions {
  syntax: "<integer>";
  initial-value: 0;
  inherits: false;
}

@keyframes counter {
  from {
    --num-transactions: 30;
  }
  to {
    --num-transactions: 557;
  
  }
}