.red-box {
  position: absolute;
  top: -250px;
  width: 1482px;
  height: 560px;
  background: rgba(9, 89, 152, 0.12);
  z-index: 0;
  border-radius: 48px;
  right: -370px;
  transform: rotate(35deg);
}

.red-box::before {
  content: "";
  position: absolute;
  top: -12px;
  width: 1482px;
  height: 560px;
  background: #ff3c3c;
  z-index: 0;
  border-radius: 48px;
  right: -35px;
  transform: rotate(0deg);
}

.container {
  padding: 0px 84px;
}

.slider-header {
  width: 100%;
  position: relative;
}

.slider-header .swiper-container {
  min-height: 400px;
  margin-top: 70px;
}

.slider-header .swiper-pagination {
  text-align: left;
}

.slider-header .swiper-slide {
  position: relative;
}

.slider-header .swipe-slide-img {
  position: absolute;
  right: -100px;
  top: 0;
}

.slider-header .swipe-slide-img img {
  width: 80%;
}

.slider-header .swipe-slide-custom {
  width: 200px !important;
}

.slider-header .swiper-pagination-bullet-active {
  width: 36px;
  border-radius: 10px;
  background: #095998 !important;
}

.content-service {
  position: relative;
}

.content-service ul li a g {
  stroke: #fff;
}

.content-service ul li a path {
  fill: #fff;
}

#project-table_length, #project-table_filter {
  margin-bottom: 20px;
}

#project-table_length select {
  width: 64px;
}

div#project-table_wrapper {
  padding: 20px;
  font-size: 14px;
}

@media screen and (max-width: 992px) {
  .red-box {
    display: none;
  }
}