.blue-box {
  position: absolute;
  top: -103px;
  width: 1082px;
  height: 560px;
  background: rgba(9, 89, 152, 0.12);
  z-index: 0;
  border-radius: 48px;
  right: -323px;
  transform: rotate(28deg);
}

.blue-box::before {
  content: "";
  position: absolute;
  top: -12px;
  width: 1082px;
  height: 560px;
  background: #095998;
  z-index: 0;
  border-radius: 48px;
  right: -35px;
  transform: rotate(0deg);
}

.container {
  padding: 0px 84px;
}

@media screen and (max-width: 992px) {
  .blue-box {
    display: none;
  }
}